body {
    text-align: center;
    padding-bottom: 5%;
}

h1{
    padding-top: 7%;
    font-size: 35px;
}
.descri{
    font-size: 20px;
}

h3{
    margin-top: 3%;
}
.line{
    background-color: #000;
    height: 5px;
    width: 200px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 4%;
}

.spacing1{
    padding-top: 2%;
}
.confirmed{
    text-decoration: none;
    background-color: #fff;
    border: 2px solid;
    border-color: #000;
    border-radius: 10px;
    padding: 10px;
    margin-top: 2%;
}
.confirmed:hover{
    border: 4px solid;
    padding: 10px;
}


