.login-container{
    text-align: center;
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
  transform: translateY(-50%); /* tiré de la moitié de sa propre hauteur */
}
h1{
    font-size: 35px;
}
h2{
    font-size: 30px;
}
#email{
    margin-top: 2%;
}
#password{
    margin-top: 1%;
}
.button{
    text-decoration: none;
    background-color: #fff;
    border: 2px solid;
    border-color: #000;
    border-radius: 10px;
    padding: 10px;
}
.Inscription{
    display: inline-block;
    margin-top: 8%;
    text-decoration: none;
    color: #000;
}
.submit{
    margin-top: 2%;
}